
@font-face {
    font-family: "Onest";
    src: url(/fonts/onest/WOFF/OnestMedium1602-hint.woff);
}
@font-face {
    font-family: "Onest-regular";
    src: url(/fonts/onest/WOFF/OnestRegular1602-hint.woff);
}
@font-face {
    font-family: "Onest-light";
    src: url(/fonts/onest/WOFF/OnestLight1602-hint.woff);
}

* {
    margin: 0; padding: 0; border:0;
    font-family: "Onest";
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: #e3dfdf;
}

.container {
    position: relative;
    width: 1216px;
    height: 456px;
    background-color:#CAFFA0;;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 24px;
}

.wrapper {
    // border:1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 32px;
    margin-bottom: 32px;
    width: 1152px;
    height: 392px;

    .wrapper__block1 {

        // border: 1px solid red;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        // border:1px solid black;
        width: 400px;
        height: 100%;
        
        h2 {
            font-family: "Onest";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 36px;
            color:#383838;
        }

        p {
            margin-top: 16px;
            font-family: 'Onest-light';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* or 125% */
            
            /* NEW/Black */
            color: #383838;
            
            opacity: 0.7; 
        }

        .wrapper__images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: end;
            // position: relative;
            height: 100%;
            width: 100%;
            // background-color: yellow;

            button { 
                user-select: none;
                cursor:default;
                box-sizing: border-box;
                font-family: 'Onest-light';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #383838;
                position: absolute;
                z-index: 1;

                position: absolute;
                width: 98px;
                height: 36px;
                
                /* NEW/White */
               

            }

            button:nth-child(1) {
                // top: 81px;
                left: 161px;
                top: 216.89px;
                // left: 129px;
                background: #FFFFFF;
                border-radius: 34px;
                transform: rotate(-6.97deg);
                z-index: 2;
            }

            button:nth-child(2) {
                width: 120px;
                height: 36px;
                left: 213.57px;
                top: 246.66px;
                z-index: 1;
                background:transparent;
                border: 1px solid #383838;
                border-radius: 34px;
                transform: rotate(4.62deg);
            }

        

            .bottomImg {
                display: flex;
                flex-direction: column;
                // justify-content: start;
                // align-items: center;
                width: 100%;
                height: 155.3px;
                background:transparent;
                // background-color: red;

                .gradient {
                    margin-left: 42px;
                    display: flex;
                    background:transparent;
                    width: 239.7px;
                    height: 155.2px;
                    background: linear-gradient(360deg, #FBFFDE 0%, #BFFF93 100%) ;
                    z-index: 0;
                    transform: skew(8deg);
                }

                .under {
                    margin-left: 53px;
                    width: 302.49px;
                    height: 1px;
                    // color:red;
                    background-color: #383838;
                    // display: none;
                    z-index: 1;
                }
                // hr {
                //     width: 302.49px;
                // }
            }

            .stick {
            
                position: absolute;
                bottom: 77.48px;
                left: 42px;
                // left: 0;
                // width: content;
                background-color: #383838;
                width: 35px;
                height: 1.2px;
                transform: rotate(125deg)
                
              
            }

            .circle {
                position: absolute;
                border-radius:50%;
                position: absolute;
                width: 73.12px;
                height: 73.12px;
                left: 52.07px;
                top: 295px;
                
                /* NEW/Black */
                border: 1.2px solid #383838;
            }

        }
    }


    .wrapper__block2 {
        background-color: #fff;
        background: #FFFFFF;
        border-radius: 24px;
        position: relative;
        // border:1px solid black;
        width: 576px;
        height: 392px;
        display: flex;

        // p {
        //     position: absolute;
        //     right: 100px;
        // }

        .block2-wrap {
            display: flex;
            margin-top: 32px;
            margin-bottom: 32px;
            margin-right: 32px;
            margin-left: 32px;
            width: 100%;


            // border: 0.11px solid red;


            .block2-wrap__constant {

                display: flex;
                // justify-content: start;
                // align-items: start;
                position: relative;
                width: 100%;
                height: 100%;


                .constant__question {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 452px;
                    font-family: 'Onest';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #383838;
                }
                .constant__step {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-family: 'Onest-light';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height, or 125% */
                    text-align: right;

                    /* NEW/Gray 3 (text) */
                    color: #9B9B9B;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    border-radius: 12px;

                    font-family: 'Onest-light';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    width: 108px;
                    height: 44px;
                }
                .butForward {

                    right: 8px;
                    color:#FFFFFF;
                    background: #383838;
                }

                .butBehind {
                    left: 0;
                    background-color: #fff;
                    border: 1px solid #D8D8D8;
                }
                

                .constant__main {
                    position: absolute;
                    // position: static;
                    // top: 0;
                    // left: 0;
                    display: flex;
                    // border:1px solid green;
                    // background-color: green;
                    width: 100%;
                    height: 70%;
                    margin-top: 44px;
                    margin-bottom: 56px;

             

                }
            }
        }
    }
}



// button:hover {
//     cursor:pointer;
//     box-shadow: 3px 2px 2px rgb(234, 255, 255);
//     transition:all 0.1s ease-in-out;
// }

// .butForward {
//     box-shadow: 5px 5px 4px rgb(170, 169, 169);
// }
// .butForward {
//  box-shadow:none;
// }
.firstStep, .thirdStep, .eightStep  {
    display: grid;
    grid-template-columns: repeat(2, 252px);
    grid-template-rows: repeat(3, 56px);
    gap: 8px;
    width: 100%;
    height: 100%;
    // background-color:red;
    label {
        background: #F5F5F5;
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        flex-direction: row-reverse;

        justify-content: space-between;
        align-items: center;
        cursor:pointer;
        // background-color:red;
        
        // border: 1px solid #383838;

        width: 236px;
        height: 56px;
        border-radius: 16px;
        // margin-left: 16px;
        font-family: 'Onest-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #383838;
        // color:#c9ded6;   

        input {
            // appearance: none;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            align-self:center;
            margin-right: 16px;
            overflow: visible;
            // border: 1px solid #adb5bd;
            // border-radius: 0.25em;
            // background-color:black;

            // border: 4px solid #dddddd;
            // background-color: #ffffff;
            background-color: #d1d3d1 !important;
            // background: #F5F5F5;
            // border: 12px solid white;
            color:#BFFF93 !important;
            width: 20px;
            height: 20px;

            background: transparent !important;
        }
    }
}

.secondStep, .sevenStep {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    // border:1px solid black;

    form {
        position: relative;
        width: 100%;
        height: 100%;
        // background-color:red;
        display: flex;
        flex-direction: column;
    }
    label {
        font-family: 'Onest-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #9B9B9B;
        // background-color:black;
        // height: 30px;
        // width: 100%;
        user-select: none;
        
        position: absolute;
        left: 21px;
        top: 10px;
    }
    select {
        display: flex;

        padding-top: 15px;
        width: 100%;
        // background-color:red;
        height: 56px;
        border: 1px solid #383838;
        border-radius: 16px;
        padding-left: 16px;
        padding-right: 26px;

        font-family: 'Onest-light';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        /* NEW/Black */
        color: #383838;
        overflow: scroll;
    }


    select option {
        background-color: #f2f2f2;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
    }
    
    select option:checked {
        background-color: #ccc;
        color: #fff;
    }
    
    select::-ms-expand {
        display: none;
    }
    
    select:focus {
        outline: none;
        border-color: #5b9dd9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


}

.fourStep, .fiveStep, .sixStep{
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(1, 512px);
    grid-template-rows: repeat(3, 56px);
    gap: 8px;
    width: 100%;
    height: 100%;
    label {
        background: #F5F5F5;
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        flex-direction: row-reverse;

        justify-content: space-between;
        align-items: center;
        cursor:pointer;
        // background-color:red;
        
        // border: 1px solid #383838;

        // width: 236px;
        // height: 56px;
        border-radius: 16px;
        // margin-left: 16px;
        font-family: 'Onest-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #383838;
        // color:#c9ded6;   

        input {
            // appearance: none;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            align-self:center;
            margin-right: 16px;
            overflow: visible;
            // border: 1px solid #adb5bd;
            // border-radius: 0.25em;
            // background-color:black;

            // border: 4px solid #dddddd;
            // background-color: #ffffff;
            background-color: #d1d3d1 !important;
            // background: #F5F5F5;
            // border: 12px solid white;
            color:#BFFF93 !important;
            width: 20px;
            height: 20px;

            background: transparent !important;
        }
    }
}

.endStep {
    height: 276px;
    // background-color: yellow;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
        width: 100%;
        height: content;
        // background-color: yellow;
        form {
            display: grid;
            grid-template-columns: repeat(1, 512px);
            grid-template-rows: repeat(4, 56px);
            gap: 8px;
            width: 100%;
            // background-color: blue;
            

        }
        button {
            // padding-top: 18px;
            width: 100% !important;
            height: 56px;
            // background-color: red;
            // position: relative;
            position: relative !important;
            height: 56px !important;

            /* NEW/Black */
            background: #383838;
            border-radius: 16px !important;

            font-family: 'Onest-light';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height, or 125% */

            /* NEW/White */
            color: #FFFFFF;
        }
        input {
            background: #F5F5F5;
            // display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 16px;
            flex-direction: row-reverse;
    
            justify-content: space-between;
            align-items: center;
            // cursor:pointer;
            border-radius: 16px;
            font-family: 'Onest-regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #383838;

        }
        
        p {
            height: 20px;
            margin-top: 8px;
            padding-top: 0;
            display: flex;
            width: 100%;
            justify-content: center;align-items: center;
            font-family: 'Onest-light';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */
            text-align: center;

            /* NEW/Gray 3 (text) */
            color: #9B9B9B;
            text-align: center;
            a {
                text-decoration: underline;
                margin-left: 5px;
            }
        }
    }


    
}

.butForward:active:hover {
    color:red;
}