@font-face {
  font-family: "Onest";
  src: url(/fonts/onest/WOFF/OnestMedium1602-hint.woff);
}
@font-face {
  font-family: "Onest-regular";
  src: url(/fonts/onest/WOFF/OnestRegular1602-hint.woff);
}
@font-face {
  font-family: "Onest-light";
  src: url(/fonts/onest/WOFF/OnestLight1602-hint.woff);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Onest";
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  background-color: #e3dfdf;
}

.container {
  position: relative;
  width: 1216px;
  height: 456px;
  background-color: #CAFFA0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 24px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 1152px;
  height: 392px;
}
.wrapper .wrapper__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 100%;
}
.wrapper .wrapper__block1 h2 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #383838;
}
.wrapper .wrapper__block1 p {
  margin-top: 16px;
  font-family: "Onest-light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  /* NEW/Black */
  color: #383838;
  opacity: 0.7;
}
.wrapper .wrapper__block1 .wrapper__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  width: 100%;
}
.wrapper .wrapper__block1 .wrapper__images button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Onest-light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #383838;
  position: absolute;
  z-index: 1;
  position: absolute;
  width: 98px;
  height: 36px;
  /* NEW/White */
}
.wrapper .wrapper__block1 .wrapper__images button:nth-child(1) {
  left: 161px;
  top: 216.89px;
  background: #FFFFFF;
  border-radius: 34px;
  -webkit-transform: rotate(-6.97deg);
          transform: rotate(-6.97deg);
  z-index: 2;
}
.wrapper .wrapper__block1 .wrapper__images button:nth-child(2) {
  width: 120px;
  height: 36px;
  left: 213.57px;
  top: 246.66px;
  z-index: 1;
  background: transparent;
  border: 1px solid #383838;
  border-radius: 34px;
  -webkit-transform: rotate(4.62deg);
          transform: rotate(4.62deg);
}
.wrapper .wrapper__block1 .wrapper__images .bottomImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 155.3px;
  background: transparent;
}
.wrapper .wrapper__block1 .wrapper__images .bottomImg .gradient {
  margin-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  width: 239.7px;
  height: 155.2px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FBFFDE), to(#BFFF93));
  background: linear-gradient(360deg, #FBFFDE 0%, #BFFF93 100%);
  z-index: 0;
  -webkit-transform: skew(8deg);
          transform: skew(8deg);
}
.wrapper .wrapper__block1 .wrapper__images .bottomImg .under {
  margin-left: 53px;
  width: 302.49px;
  height: 1px;
  background-color: #383838;
  z-index: 1;
}
.wrapper .wrapper__block1 .wrapper__images .stick {
  position: absolute;
  bottom: 77.48px;
  left: 42px;
  background-color: #383838;
  width: 35px;
  height: 1.2px;
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}
.wrapper .wrapper__block1 .wrapper__images .circle {
  position: absolute;
  border-radius: 50%;
  position: absolute;
  width: 73.12px;
  height: 73.12px;
  left: 52.07px;
  top: 295px;
  /* NEW/Black */
  border: 1.2px solid #383838;
}
.wrapper .wrapper__block2 {
  background-color: #fff;
  background: #FFFFFF;
  border-radius: 24px;
  position: relative;
  width: 576px;
  height: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .wrapper__block2 .block2-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
  margin-left: 32px;
  width: 100%;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant .constant__question {
  position: absolute;
  left: 0;
  top: 0;
  width: 452px;
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #383838;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant .constant__step {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Onest-light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: right;
  /* NEW/Gray 3 (text) */
  color: #9B9B9B;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
  font-family: "Onest-light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 108px;
  height: 44px;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant .butForward {
  right: 8px;
  color: #FFFFFF;
  background: #383838;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant .butBehind {
  left: 0;
  background-color: #fff;
  border: 1px solid #D8D8D8;
}
.wrapper .wrapper__block2 .block2-wrap .block2-wrap__constant .constant__main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70%;
  margin-top: 44px;
  margin-bottom: 56px;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 2px 2px rgb(175, 227, 227);
          box-shadow: 3px 2px 2px rgb(175, 227, 227);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.firstStep, .thirdStep, .eightStep {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 252px 8px 252px;
  grid-template-columns: repeat(2, 252px);
  -ms-grid-rows: 56px 8px 56px 8px 56px;
  grid-template-rows: repeat(3, 56px);
  gap: 8px;
  width: 100%;
  height: 100%;
}

.firstStep > *:nth-child(1), .thirdStep > *:nth-child(1), .eightStep > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.firstStep > *:nth-child(2), .thirdStep > *:nth-child(2), .eightStep > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.firstStep > *:nth-child(3), .thirdStep > *:nth-child(3), .eightStep > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.firstStep > *:nth-child(4), .thirdStep > *:nth-child(4), .eightStep > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.firstStep > *:nth-child(5), .thirdStep > *:nth-child(5), .eightStep > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.firstStep > *:nth-child(6), .thirdStep > *:nth-child(6), .eightStep > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.firstStep label, .thirdStep label, .eightStep label {
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 236px;
  height: 56px;
  border-radius: 16px;
  font-family: "Onest-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #383838;
}
.firstStep label input, .thirdStep label input, .eightStep label input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 16px;
  overflow: visible;
  background-color: #d1d3d1 !important;
  color: #BFFF93 !important;
  width: 20px;
  height: 20px;
  background: transparent !important;
}

.secondStep, .sevenStep {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.secondStep form, .sevenStep form {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.secondStep label, .sevenStep label {
  font-family: "Onest-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #9B9B9B;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  left: 21px;
  top: 10px;
}
.secondStep select, .sevenStep select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  width: 100%;
  height: 56px;
  border: 1px solid #383838;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 26px;
  font-family: "Onest-light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  /* NEW/Black */
  color: #383838;
  overflow: scroll;
}
.secondStep select option, .sevenStep select option {
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
}
.secondStep select option:checked, .sevenStep select option:checked {
  background-color: #ccc;
  color: #fff;
}
.secondStep select::-ms-expand, .sevenStep select::-ms-expand {
  display: none;
}
.secondStep select:focus, .sevenStep select:focus {
  outline: none;
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fourStep, .fiveStep, .sixStep {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 512px;
  grid-template-columns: repeat(1, 512px);
  -ms-grid-rows: 56px 8px 56px 8px 56px;
  grid-template-rows: repeat(3, 56px);
  gap: 8px;
  width: 100%;
  height: 100%;
}

.fourStep > *:nth-child(1), .fiveStep > *:nth-child(1), .sixStep > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.fourStep > *:nth-child(2), .fiveStep > *:nth-child(2), .sixStep > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.fourStep > *:nth-child(3), .fiveStep > *:nth-child(3), .sixStep > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.fourStep label, .fiveStep label, .sixStep label {
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Onest-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #383838;
}
.fourStep label input, .fiveStep label input, .sixStep label input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 16px;
  overflow: visible;
  background-color: #d1d3d1 !important;
  color: #BFFF93 !important;
  width: 20px;
  height: 20px;
  background: transparent !important;
}